*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

main{
    height: 100%;
    display: grid;
    grid-template:repeat(12,1fr)/repeat(12,1fr);
    background-color:#272727;
    font-family: 'Lato', sans-serif;
}

.icon{
    grid-column: 1/2;
    margin-top: 2px;
    font-size: 42px;
    width: 48px;
    height: 45px;
    margin-left: 30px;
    border-radius: 10px;
}

.icon:hover{
    background-color: #4d4d50;
    transition: .2ms ease-in-out;
}

.fname{
    grid-column: 2/4;
    margin:5px;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

.user:hover{
    background-color: #4d4d50;
    transition: .2ms ease-in-out;
}

.btn{
    grid-column: 8/9;
}

.btn button{
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    height: 40px;
    width:100px;
    border-radius: 10px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    background-color:gray;
    color:#272727;
}

.btn button:hover{
    background: #4d4d50;
    transition: .200ms ease-in-out;
}

.btn1{
    grid-column: 9/10;
    
}

.btn1 button{
    margin-top: 5px;
    font-family:'Lato', sans-serif ;
    font-size: 30px;
    height: 40px;
    width:130px;
    border-radius: 10px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    background-color:gray;
    color:#272727;

}

.btn1 button:hover{
    background-color: #4d4d50;
    transition: .200ms ease-in-out;
}

.btn2{
    grid-column: 10/11;
}
.btn2 button{
    margin-top: 5px;
    font-family:'Lato', sans-serif ;
    font-size: 30px;
    height: 40px;
    width:60px;
    border-radius: 10px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    margin-left: 2px;
    margin-right: 0;
    background-color:gray;
    color:#272727;
}

.btn2 button:hover{
    background-color: #4d4d50;
    transition: .200ms ease-in-out;
}
.btn2 button .invisible:hover{
    background-color: #4d4d50;
    transition: .200ms ease-in-out;
}
.btn2 button .invisible {
    display: none;
}

.btn3{
    grid-row: 1/2;
    grid-column: 11/12;
}
.btn3 button{
    margin-top: 5px;
    font-family:'Lato', sans-serif ;
    font-size: 30px;
    height: 40px;
    width: 60px;
    border-radius: 10px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    background-color:gray;
    color:#272727;
}

.btn3 button:hover{
    background-color: #4d4d50;
    transition: .200ms ease-in-out;
}
.btn3 button .invisible2:hover{
    background-color: #4d4d50;
    transition: .200ms ease-in-out;
}

.btn3 button .invisible2{
    display: none;
}
.btn4{
    grid-row: 1/2;
    grid-column: 12/13;
}
.btn4 button{
    margin-top: 5px;
    font-family:'Lato', sans-serif ;
    font-size: 30px;
    height: 40px;
    width:60px;
    border-radius: 10px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    margin-left: 2px;
    background-color:gray;
    color:#272727;
}

.btn4 button:hover{
    background-color: #4d4d50;
    transition: .200ms ease-in-out;
}
.btn4 button .invisible3:hover{
    display: flex;
    background-color: #4d4d50;
    transition: .2ms ease-in-out;
    
}

.btn4 button .invisible3{
    display: none;
}

.htm{
    /*background-color:#272727;*/
    background-color:white;
    grid-column: 1/5;
    grid-row: 2/6;
}

.htm h4{
    display: inline;
}

.css{
    background-color: white;
    grid-row: 7/12;
    grid-column: 1/5;
}

.btn5{
    grid-row: 12/-1;
    grid-column: 1/2;
}
.btn5 button{
    margin-top: 6px;
    font-family:'Lato', sans-serif ;
    font-size: 27px;
    height: 36px;
    width:130px;
    border-radius: 10px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    margin-left: 2px;
    background-color:gray;
    color:#272727;
}

.btn5 button:hover{
    background-color: #4d4d50;
    transition: .2ms ease-in-out;
    
}

.btn6{
    grid-row: 12/-1;
    grid-column: 2/3;
}
.btn6 button{
    margin-top: 6px;
    font-family:'Lato', sans-serif ;
    font-size: 27px;
    height: 35px;
    width:100px;
    border-radius: 10px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    margin-left: 2px;
    background-color:gray;
    color:#272727;
}

.btn6 button:hover{
    background-color: #4d4d50;
    transition: .2ms ease-in-out;
    
}

.btn7{
    grid-gap: 0;
    grid-column: 3/4;
    grid-row: 12/-1;
}

.btn7 button{
    margin-top: 6px;
    font-family:'Lato', sans-serif ;
    font-size: 27px;
    height: 35px;
    width:150px;
    border-radius: 10px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    margin-left: 2px;
    background-color:gray;
    color:#272727;
}

.btn7 button:hover{
    background-color: #4d4d50;
    transition: .2ms ease-in-out;
    
}

.js{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    grid-row: 2/12;
    grid-column: 6/-1;
}